
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-dark piepagina" style="border-top: 2px solid white">
            <div class="row">
                <div class="col-4 contenedorsociales">
                    <ul>
                        <li><a href="https://www.instagram.com"><i class="fa-brands fa-instagram instagram"></i></a></li>
                        <li><a href="https://www.whatsapp.com/?lang=es"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
                        <li><a href="https://twitter.com/?lang=ES"><i class="fa-brands fa-twitter twitter"></i></a></li>
                    </ul>
                </div>
                <div class="col-3 cuadrohorario">
                    <p class="textohorario" id="titulohorario">Horario:</p>
                    <p class="textohorario">Lunes-Viernes: 06:00-00:00</p>
                    <p class="textohorario">Sabado y Domingo: 08:00-22:00</p>
                </div>
                <div class="col-3 cuadrodireccion">
                    <p class="textodireccion" id="titulodireccion">Direccion:</p>
                    <p class="textodireccion">C. Marte, 40</p>
                    <p class="textodireccion">28880 Meco, Madrid</p>
                </div>
                <div class="col-2 contenedormapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3032.5756394962127!2d-3.313049623419778!3d40.52886984880557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd424c47b2f1a4b7%3A0x8e262d3fb544ab35!2sC.%20Marte%2C%2040%2C%2028880%20Meco%2C%20Madrid!5e0!3m2!1ses!2ses!4v1682328483659!5m2!1ses!2ses" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
