<div class="container-fluid">
    <div class="row">
        <div class="col-12 contenedorperfil">
            <div class="row">
                <div class="col-3 selectorperfil">
                    <div class="botonesraros"><span></span>Mis Datos</div>
                    <div class="botonesraros"><span></span>Mis Citas</div>
                    <div class="botonesraros"><span></span>Mis Tablas</div>
                    <div class="botonesraros"><span></span>Cerrar sesion</div>
                </div>
                <div class="col-9 contenidoperfil">
                </div>
            </div>
        </div>
    </div>
</div>