.contenedorperfil{
    height: 200vh;
    
}
.selectorperfil{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    row-gap: 80px;
    padding-top: 7vh;
    height: 88vh;
}
.contenidoperfil{
    height: 88vh;
}

.botonesraros
{
    position: relative;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 75px;
    background: #232323;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 73px;
    color: white;
    font-size: 12px;
    font-family: verdana;
    letter-spacing: 4px;
    transition: 1s;
/*    border-radius: 20px; */
}
.botonesraros:active{
    background-color: red;
}

.botonesraros:before,
.botonesraros:after,
span:before,
span:after
{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: red;
    transition: 1s;
    mix-blend-mode: hue;
}

.botonesraros:before
{
    top: -2px;
    left: -2px
}
.botonesraros:after
{
    top: -2px;
    right: -2px;
}
span:before
{
    bottom: -2px;
    left: -2px
}
span:after
{
    bottom: -2px;
    right: -2px
}

.botonesraros:hover:before,
.botonesraros:hover:after,
.botonesraros:hover span:before,
.botonesraros:hover span:after
{
    width: calc( 455px/2 );
    height: calc( 80px/2 )
}
.puerta{
    font-size: 80px;
    padding-left: 2px;
    padding-top: -30px;
    color: black;
}
@media (max-width: 1441px){
    .botonesraros{
        width: 15vw;
    }
    .selectorperfil{
        padding-left: 50px;
    }
    .botonesraros:hover:before,
.botonesraros:hover:after,
.botonesraros:hover span:before,
.botonesraros:hover span:after
{
    width: calc( 15vw/2 );
    height: calc( 80px/2 )
}
}
@media (max-width: 426px){
    .botonesraros{
        width: 400px !important;
        font-size: 10px;
        
    }
    .selectorperfil{
        width: 500px;
        height: 200px;
        flex-direction: row;
        column-gap: 10px;
        margin-left: -160px;
    }
    .botonesraros:hover:before,
.botonesraros:hover:after,
.botonesraros:hover span:before,
.botonesraros:hover span:after
{
    width: calc( 20vw/2 );
    height: calc( 80px/2 )
}
.boton1{
    position: absolute;
    top: 60px;
    left: 370px;
}
.boton2{
    position: absolute;
    top: 150px;
    left: 370px;
    
}
.boton3{
    top: 240px;
    left: 370px;
    position: absolute;
    
}
.puerta{
    top: 285px;
    left: 165px;
    position: absolute;
    font-size: 45px;
}
}
@media (max-width: 376px){
    .botonesraros{
        width: 300px !important;
        font-size: 10px;
        left: 348px;
    }
    .selectorperfil{
        padding-left: 10px !important;
    }
    .botonesraros:hover:before,
.botonesraros:hover:after,
.botonesraros:hover span:before,
.botonesraros:hover span:after
{
    width: calc( 30vw/2 );
    height: calc( 80px/2 )
}
}
@media (max-width: 321px){
    .botonesraros{
        left: 320px;
        width: 32vw;
        font-size: 10px;
    }
    .selectorperfil{
        padding-left: 50px;
    }
    .botonesraros:hover:before,
.botonesraros:hover:after,
.botonesraros:hover span:before,
.botonesraros:hover span:after
{
    width: calc( 32vw/2 );
    height: calc( 80px/2 )
}
}