<div class="container-fluid">
    <div class="row">
        <div class="col-12 contenedorperfil">
            <div class="row">
                <div class="col-3 selectorperfil">
                    <div [ngStyle]="{'background-color': primero ? 'red' : 'black'}" class="botonesraros" (click)="activarprimero()"><span></span>Mis Datos</div>
                    <div [ngStyle]="{'background-color': segundo ? 'red' : 'black'}" class="botonesraros" (click)="activarsegundo()"><span class="tuneoafter"></span>Mis Citas</div>
                    <div [ngStyle]="{'background-color': tercero ? 'red' : 'black'}" class="botonesraros" (click)="activartercero()"><span class="tuneoafter"></span>Mis Tablas</div>
                    <div [ngStyle]="{'background-color': cuarto ? 'red' : 'black'}" class="botonesraros" (click)="activarcuarto()"><span class="tuneoafter"></span>Cerrar sesion</div>
                </div>
                <div class="col-9 contenidoperfil">
                    <app-frag-mis-datos *ngIf="primero"></app-frag-mis-datos>
                    <app-frag-mis-citas *ngIf="segundo"></app-frag-mis-citas>
                    <app-frag-mis-tablas *ngIf="tercero"></app-frag-mis-tablas>
                    <app-frag-cerrar-sesion *ngIf="cuarto"></app-frag-cerrar-sesion>
                </div>
            </div>
        </div>
    </div>
</div>