.contenedordatos{
    position: relative;
    top: 0.9vh;
    height: 87vh;
    border: 1px solid grey;
}
#monthAndYear{
    padding-top: 143px;
}
.casillaDia{
    cursor: pointer;
    transition: 0.6s ease-in-out;
}
.casillaDia:hover{
    background-color: rgb(255, 170, 170);
}
.listaCitas{
    padding-top: 20px;
}
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 120px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: red;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: red;
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* List */
.listaCitas {
  counter-reset: index;  
  padding: 0;
  max-width: 450px;
  padding-top: 40px;
}

/* List element */
.casillaCitas {
  counter-increment: index; 
  display: flex;
  font-family: airwaves;
  align-items: center;
  flex-direction: row;
  letter-spacing: 4px;
  font-size: 27px;
  padding: 12px 0;
  box-sizing: border-box;
}


/* Element counter */
.casillaCitas::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, rgb(255, 217, 0), red);
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}



@font-face {
  font-family: airwaves;
  src: url("./../../assets/airwaves-rounded.ttf");
}
@font-face {
    font-family: 'gold';
    src: url("./../../assets/LatinWide.ttf");
}

.anterior{
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #ff4742;
  background: 0 0;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;
  font-family: airwaves;
  letter-spacing: 2px;
  font-size: 16px;
}
.siguiente{
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #ff4742;
  background: 0 0;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;
  font-family: airwaves;
  letter-spacing: 2px;
  font-size: 16px;
}
.anterior:hover{
      background-color: #ff4742;
      color: #fff;
}

.siguiente:hover{
  background-color: #ff4742;
  color: #fff;
}

.irALabel{
  padding-left: 10px;
  font-family: airwaves;
  font-size: 25px;
  letter-spacing: 3px;
}
.AnoLabel{
  padding-left: 10px;
  font-family: airwaves;
  font-size: 25px;
  letter-spacing: 3px;
}
.selectMeses{

}
.selectAnos{

}
/* List */
.listaDerecha {
  counter-reset: index;  
  padding: 0;
  right: 450px;
  max-width: 400px;
  position: absolute;
  top: 610px;
}

/* List element */
.casillaDerecha {
  counter-increment: index; 
  cursor: pointer;
  display: flex;
  font-family: airwaves;
  align-items: center;
  flex-direction: row;
  letter-spacing: 3px;
  font-size: 28px;
  padding: 12px 0;
  box-sizing: border-box;
}
.tituloActividades{
  position: absolute;
  top: 580px;
  font-size: 30px;
  right: 230px;
  font-family: airwaves;
  text-decoration: underline;
}
.contenedorListaDerecha{
  text-align: center;
}
.contenedorDatosActividades{
  font-family: airwaves;
  padding-top: 10px;
  font-size: 20px;
  width: 50%;
  padding-right: 20px;
}
.contenedorTotal{
  display: flex;
  flex-direction: row;
}
