<h3 id="monthAndYear">{{ monthAndYear }}</h3>
<table class="table table-bordered table-responsive-sm calendario" id="calendar">
  <thead>
    <tr>
      <th>L</th>
      <th>M</th>
      <th>X</th>
      <th>J</th>
      <th>V</th>
      <th>S</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody id="calendar-body">
    <tr *ngFor="let week of calendar">
      <td class="casillaDia" *ngFor="let day of week" [class.bg-danger]="isToday(day)" (click)="pillarCita(day)"> <!--Indicar que es hoy-->
        {{ day }}
      </td>
    </tr>
  </tbody>
</table>
<!-- Prev/next Navigation -->
<button id="previous" class="anterior" (click)="previous()">Anterior</button>
<button id="next" class="siguiente" (click)="next()">Siguiente</button>
<!-- Jump to -->
<label for="month" class="irALabel">Ir a: </label>
<select name="month" id="month" class="selectMeses" [(ngModel)]="selectMonth" (change)="jump()">
  <option *ngFor="let month of months; let i = index" [value]="i">{{ month }}</option>
</select>
<label for="year" class="AnoLabel">Año:</label>
<select name="year" id="year" class="selectAnos" [(ngModel)]="selectYear" (change)="jump()">
  <option *ngFor="let year of years" [value]="year">{{ year }}</option>
</select>


<!-- <div class="contenedorListaDerecha"><ul class="listaDerecha">
  <li class="casillaDerecha" *ngFor="let actividad of actividades"><p class="nombreActividad">{{actividad.nombre}}</p><br><p class="nombreActividad">{{actividad.descripcion}}</p></li>
</ul></div> -->
<div class="contenedorTotal">
<div class="contenedorDatosActividades">
<div *ngFor="let actividad of actividades">
  <p style="text-decoration: underline;">{{actividad.actividad.nombre}}</p>
  <p>{{actividad.actividad.descripcion}}</p>
  <p>Actividad impartida por: {{actividad.entrenador.nombre}}</p> <!--Ver como saco el nombre del entrenador desde aqui-->
</div></div>
<ul class="listaCitas">
  <li *ngFor="let cita of citas" class="casillaCitas">{{cita.nombre}}  {{cita.fecha}}<i style="cursor: pointer;" (click)="borrarProducto(cita.id)"class="fa fa-trash iconopapelera"></i></li>
</ul></div>
<div class="subirProducto col-12" style="text-align: center;">
  <button class="icon-btn add-btn" *ngIf="permisoAdmin" style="background-color: rgba(33,37,41,255);" (click)="openModal()">
    <div class="add-icon"></div>
    <div class="btn-txt" style="color: white">Añadir Actividad</div>
  </button>
</div>
<app-insertar-actividades *ngIf="modalOpen"></app-insertar-actividades>