<h3 id="monthAndYear">{{ monthAndYear }}</h3>
<table class="table table-bordered table-responsive-sm" id="calendar">
  <thead>
    <tr>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
      <th>Sábado</th>
      <th>Domingo</th>
    </tr>
  </thead>
  <tbody id="calendar-body">
    <tr *ngFor="let week of calendar">
      <td class="casillaDia" *ngFor="let day of week" [class.bg-danger]="isToday(day)" (click)="pillarCita(day)"> <!--Indicar que es hoy-->
        {{ day }}
      </td>
    </tr>
  </tbody>
</table>
<!-- Prev/next Navigation -->
<button id="previous" (click)="previous()">Anterior</button>
<button id="next" (click)="next()">Siguiente</button>
<!-- Jump to -->
<label for="month">Ir a: </label>
<select name="month" id="month" [(ngModel)]="selectMonth" (change)="jump()">
  <option *ngFor="let month of months; let i = index" [value]="i">{{ month }}</option>
</select>
<label for="year">Año:</label>
<select name="year" id="year" [(ngModel)]="selectYear" (change)="jump()">
  <option *ngFor="let year of years" [value]="year">{{ year }}</option>
</select>
<ol class="listaCitas">
  <li *ngFor="let cita of citas">{{cita}}</li>
</ol>
<div class="subirProducto col-12" style="text-align: center;">
  <button class="icon-btn add-btn" *ngIf="permisoAdmin" style="background-color: rgba(33,37,41,255);" (click)="openModal()">
    <div class="add-icon"></div>
    <div class="btn-txt" style="color: white">Añadir Actividad</div>
  </button>
</div>
<app-insertar-actividades *ngIf="modalOpen"></app-insertar-actividades>