<div class="container-fluid">
    <div class="row">
        <div class="col-12 cuadroEjercicio">
            <div class="videoWrapper">
                <div class="videoWrapper2">
                    <iframe width="450" height="400" id="video-player"
                        src="https://www.youtube.com/embed/ljy57X9u7KQ?rel=0&modestbranding=1&controls=0&mute=1&loop=1"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="nombreEjercicio">
                
            </div>
        </div>
    </div>
</div>