/* .aaa{
  background-image: url("./../../assets/fondotarjetas1.jpg");
  background-position: center;
  background-size: contain;
} */
.cuadropruebabbdd{
    
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-top: 5vh;
}
.cabeceraCatalogo{
  text-align: center;
  font-family: airwaves;
  font-size: 50px;
  letter-spacing: 4px;
}
.subcabeceraCatalogo{
  text-align: center;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.imagencatalogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
}
.colocar{
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding-top: 10vh;
  padding-left: 2vh;
}
.clicked{
  color: red;
}
.barraGeneros{
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.textoCat{
  text-align: center;
  font-size: 45px;
  font-family: airwaves; 
  cursor: pointer;
}

.textoCat:hover{
  transition: 0.5s ease-in-out;
  color: red;
}
@font-face {
  font-family: airwaves;
  src: url("./../../assets/airwaves-rounded.ttf");
}
@font-face {
    font-family: 'gold';
    src: url("./../../assets/LatinWide.ttf");
}
.main-hr {
    width: 30%;
    border: none;
    border-top: 1px solid #c3c3c3;
  }
  .icon-btn {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
  }
  .add-btn:hover {
    width: 120px;
  }
  .add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: red;
  }
  .add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .icon-btn:focus {
    outline: none;
  }
  .btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
  }
  .add-btn:hover::before,
  .add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  .add-btn:hover .btn-txt {
    opacity: 1;
  }
  .add-icon::after,
  .add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: red;
    overflow: hidden;
  }
  .add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  .add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }



  * {
    box-sizing: border-box;
    font-weight: normal;
  }
  
  body {
    color: #555;
    background: #222;
    text-align: center;
    font-family: 'Roboto Mono';
    padding: 1em;
  }
  
  h1 {
    font-size: 2.2em;
  }
  
  .flip {
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .flip > .front,
  .flip > .back {
    display: block;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    transition-property: transform, opacity;
  }
  
  .flip > .front {
    transform: rotateY(0deg);
  }
  
  .flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  
  .flip:hover > .front {
    transform: rotateY(180deg);
  }
  
  .flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
  }
  
  .flip.flip-vertical > .back {
    transform: rotateX(-180deg);
  }
  
  .flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
  }
  
  .flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
  }
  
  .flip {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 400px;
  }
  
  .flip > .front,
  .flip > .back {
    display: block;
    color: black;
    font-family: airwaves;
    width: inherit - 20px;
    background-size:contain !important;
    background-position: center !important;
    -webkit-text-stroke: 0.2px white;
    height: 220px;
    padding: 1em 2em;
    background: white;
    border-radius: 10px;
  }
  
  .flip > .front > p {
    font-size: 1.2rem;
    line-height: 160%;
    color: #999;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      -webkit-tap-highlight-color: transparent;
  }
  
  .noselect {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #e62222;
  }
  
  .noselect, .noselect span {
    transition: 200ms;
  }
  
  .noselect .text {
    transform: translateX(7px);
    color: white;
    font-weight: bold;
  }
  
  .noselect .icon {
    position: absolute;
    
    transform: translateX(5px);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .noselect svg {
    width: 15px;
    fill: #eee;
  }
  
  .noselect:hover {
    background: #ff3636;
  }
  
  .noselect:hover .text {
    color: transparent;
  }
  
  .noselect:hover .icon {
    border-left: none;
  }
  
  .noselect:focus {
    outline: none;
  }

  .iconopapelera{
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
  }
  .iconopapelera:hover{
    color: red;
  }

  .iconolapiz{
    top: 50px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
  }
  .iconolapiz:hover{
    color: blue;
  }

  .or-spacer {
    margin-top: 100px;
    margin-left: 100px;
    width: 400px;
    position: relative;
  }
  
  .or-spacer .mask {
    overflow: hidden;
    height: 20px;
  }
  
  .or-spacer .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px black;
  }
  
  .or-spacer span {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: white;
  }
  
  .or-spacer span i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #aaa;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #999;
  }
  
  .or-spacer-vertical {
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
    width: 100px;
    position: relative;
  }
  
  .or-spacer-vertical .mask {
    overflow: hidden;
    width: 20px;
    height: 51vh;
  }
  
  .or-spacer-vertical.left .mask:after {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 8px black;
  }
  
  .or-spacer-vertical.right .mask:before {
    content: '';
    display: block;
    margin-left: 20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 8px black;
  }