#cuerpo {
    background-image: url("./../../assets/Gym1.jpg");
    height: 82vh;
    background-repeat: no-repeat;
    background-size: 100% 100%; /* o background-size: cover; */
}
@font-face {
    font-family: airwaves;
    src: url("./../../assets/airwaves-rounded.ttf");
}
#BannerImagenGrande{
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 235px;
    width: 29vw;
    letter-spacing: 5px;
    height: 10vh;
    clip-path: polygon(79% 0, 100% 50%, 79% 100%, 0% 100%, 0 44%, 0% 0%);
    color: white;
    font-family: airwaves;
    font-size: 50px;
    padding-left: 15px;
}