<div class="container-fluid contenedordatos">
    <div class="row">
        <div class="col-12 cabeceraTablas">
            Mis Tablas
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12 subcabeceraTablas">
            Todos tus ejercicios aquí
        </div>
    </div> -->
    <div class="row">
        <div class="filaBotonesTablas">
            <button class="space-btn">Pecho-Triceps</button>
            <button class="space-btn">Espalda-Biceps</button>
            <button class="space-btn">Pierna-Hombro</button>
        </div>
    </div>
    <app-pecho-triceps></app-pecho-triceps>
</div>