<div class="container-fluid contenedordatos">
    <div class="row">
        <div class="col-12 cabeceraTablas">
            Mis Tablas
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-12 subcabeceraTablas">
            Todos tus ejercicios aquí
        </div>
    </div> -->
    <div class="row">
        <div class="filaBotonesTablas">
            <button class="space-btn" (click)="activarPrimero()">Pecho-Triceps</button>
            <button class="space-btn" (click)="activarSegundo()">Espalda-Biceps</button>
            <button class="space-btn" (click)="activarTercero()">Pierna-Hombro</button>
        </div>
    </div>
    <app-pecho-triceps *ngIf = "primero"></app-pecho-triceps>
    <app-espalda-biceps *ngIf = "segundo"></app-espalda-biceps>
    <app-pierna-hombro *ngIf = "tercero"></app-pierna-hombro>
</div>