<div class="container-fluid">
    <div class="row rowcabeceracuotas">
        <div class="cabeceracuotas col-12">
            <p>HAZTE SOCIO</p>
            <p>CUMPLE TUS OBJETIVOS CON NOSOTROS</p>
        </div>
    </div>
    <div class="row contenedorcartas"> <!--Escribir !EL MAS VENDIDO! encima de una de ellas-->
        <div class="col-2 card cartascuotas border-danger border-4" style="padding: 0;">
            <div class="card-header cabeceracartas" style="text-align:center;">
                LA MAS ECONÓMICA
            </div>
            <div class="card-body">
                <div class="card-title titulocarta">
                    CUOTA ???
                </div>
                <div class="card-text textocarta">
                    Incluye:
                    <br>
                    -Acceso a las instalaciones deportivas<br>
                    -Acceso al vestuario<br>
                    -Tabla de ejercicios genérica
                </div>
                <div style="text-align: center;">
                    <button class="botoncuota">29.99€</button>
                </div>
                
            </div>
        </div>
        <div class="col-2 card cartascuotas border-danger border-4" style="padding: 0;">
            <div class="card-header cabeceracartas" style="text-align:center;">
                MEJOR RELACION CALIDAD-PRECIO
            </div>
            <div class="card-body">
                <div class="card-title titulocarta">
                    CUOTA ???
                </div>
                <div class="card-text textocarta">
                    Incluye:<br>
                    -Todo lo de la anterior cuota<br>
                    -Entrenador y nutricionista una vez al mes<br>
                    -Acceso a la piscina
                </div>
                <div style="text-align: center;">
                    <button class="botoncuota">40.99€</button>
                </div>
            </div>
        </div>
        <div class="col-2 card cartascuotas border-danger border-4" style="padding: 0;">
            <div class="card-header cabeceracartas" style="text-align:center;">
                LA MAS COMPLETA
            </div>
            <div class="card-body">
                <div class="card-title titulocarta">
                    CUOTA ???
                </div>
                <div class="card-text textocarta">
                    Incluye:<br>
                    -Todo lo de la anterior cuota<br>
                    -Servicios personalizados a traves de una app exclusiva<br>
                    -Regalo de bienvenida
                </div>
                <div style="text-align: center;">
                    <button class="botoncuota">49.99€</button>
                </div>
            </div>
        </div>
    </div>
</div>
