.cabeceracuotas{
    height: 34vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: airwaves;
   font-size: 110px;
   background-image: url("./../../assets/banner1.jpg");
   filter: contrast(110%);
   background-position:bottom;
   background-size: cover;
   background-repeat: no-repeat;
   color: #ffffff;
}
@font-face {
    font-family: airwaves;
    src: url("./../../assets/airwaves-rounded.ttf");
  }
  @font-face {
      font-family: ntr;
      src: url("./../../assets/NTR-Regular.ttf");
  }
  .contenedorcartas{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 54vh;
      background-position: center;
      /* background-image: url("./../../assets/fondotarjetas3.jpg"); */
  }

  .cartascuotas{
      height: 40vh;
  }

  .cabeceracartas{
      font-family: airwaves;
      font-size: 28px;
      background-color: white;
  }

  .titulocarta{
    text-align: center;
    font-family: ntr;
    font-size: 30px;
    font-weight: 1000;
    
  }
  .textocarta{
      font-family: ntr;
      font-size: 25px;
      padding-left: 10px;
    }

    .botoncuota {
        --c:  #f32929; /* the color*/
        
        box-shadow: 0 0 0 .1em inset var(--c); 
        --_g: linear-gradient(var(--c) 0 0) no-repeat;
        background: 
          var(--_g) calc(var(--_p,0%) - 100%) 0%,
          var(--_g) calc(200% - var(--_p,0%)) 0%,
          var(--_g) calc(var(--_p,0%) - 100%) 100%,
          var(--_g) calc(200% - var(--_p,0%)) 100%;
        background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
        outline-offset: .1em;
        transition: background-size .4s, background-position 0s .4s;
      }
      .botoncuota:hover {
        --_p: 100%;
        transition: background-position .4s, background-size 0s;
      }
      .botoncuota:active {
        box-shadow: 0 0 9e9q inset #0009; 
        background-color: var(--c);
        color: #fff;
      }
      .botoncuota{
        font-family: airwaves;
        font-size: 2rem;
        cursor: pointer;
        padding: .1em .6em;
        font-weight: bold;  
        border: none;
      }