<form >
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre del producto: </label>
        <input type="text" id="nombre" name="nombre" class="form-control">
    </div>
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripcion del producto: </label>
        <input type="text" id="descripcion" name="descripcion" class="form-control">
    </div>    
    <div class="mb-3">
        <label for="precio" class="form-label">Precio del producto: </label>
        <input type="number" id="precio" name="precio" class="form-control">
    </div>
    <div class="mb-3">
        <label for="imagen" class="form-label">Imagen del producto: </label>
        <input type="file" id="imagen" name="imagen" class="form-control">
    </div>
</form>