<div class="container-fluid">
    <div class="row">
        <div class="col-12 cuadroEjercicio">
            <div class="videoWrapper">
                <iframe width="450" height="400" src="https://www.youtube.com/embed/LXb3EKWsInQ?autoplay=1&modestbranding=1&controls=0&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>  <!--Probar a poner otro div a lo burro para tapar la parte de abajo-->
        </div>
    </div>
</div>