<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center tabladatos" style="padding-top: 9vh;">
            <div class="col-xl-8 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-12">
                            <div class="card-block datosseparar">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600" style="font-size: 25px;" >Mis Datos:</h6>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600" style="font-size: 20px;  text-decoration:dashed;">Nombre</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 20px">{{miModelo.nombre}}</h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600" style="font-size: 20px">Telefono</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 20px">{{miModelo.tlf}}</h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600" style="font-size: 20px">Sexo</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 20px">{{miModelo.sexo}}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600" style="font-size: 20px">Email</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 20px">{{miModelo.email}}</h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <p class="m-b-10 f-w-600" style="font-size: 20px">Contraseña</p>
                                        <h6 class="text-muted f-w-400" style="font-size: 20px">{{contrasenaOculta}}</h6>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-outline-danger botonCambiarContrasena">Cambiar Contraseña</button>
                                    </div>
                                </div>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>