<div class="container">
    <div class="row">
        <div class="col-12 text-center tituloentrenadores">Entrenadores</div>
        <div class="col-12 subcabeceraEntrenadores">
            Información acerca de nuestros expertos en fitness
        </div>
    </div>
</div>
<div class="container-fluid grupotarjetasentrenador">
    <div class="row">
        <div class="col-10 mx-auto"> <!--NGFOR-->
            <div id="home" class="first_page mx-auto" *ngFor="let cosa of cosas" >
                <div class="wrapper" style="position: relative;">
                  <div class="content-splitter">
                    <div class="nav">
                      <ul class="navbar">
                        <li><i class="fa-regular fa-calendar-check"></i> {{cosa.horarioDias}}</li>
                        <li><i class="fa-regular fa-clock"></i> {{cosa.horarioHoras}}</li>
                        <li><i class="fa fa-money-bill-wave" style="font-size: 16px;"></i> {{cosa.precioMensual}}€/Mes</li>
                        <li><i class="fa fa-phone"></i> {{cosa.numeroTelefono}}</li>
                      </ul>
                    </div>
                    <div class="left">
                      <div class="block">
                        <div class="header">{{cosa.nombre}}</div>
                        <div class="content">{{cosa.descripcion}}</div>
                      </div>
                      <div class="c2a">Contáctame!</div>
                    </div>
                  </div>
                  <div class="right" style="background-image: url({{cosa.urlImagen}}); background-repeat: no-repeat; background-position: center; background-size: cover;">
                      <!-- <img src="{{cosa.urlImagen}}" alt=""> -->
                    </div>
                    <i (click)="borrarProducto(cosa.id)"class="fa fa-trash iconopapelera"></i>
                  </div>
                
              </div>
              </div>
        </div>
    </div>
    <div class="subirProducto" style="text-align: center;">
        <button class="icon-btn add-btn" style="background-color: rgba(33,37,41,255);" (click)="openModal()">
          <div class="add-icon"></div>
          <div class="btn-txt" style="color: white">Añadir</div>
        </button>
      </div>
    <app-insertar-entrenadores *ngIf="modalOpen"></app-insertar-entrenadores>