<div class="container-fluid">
    <div class="row filaEjercicios">
        <div class="col-12 cuadroEjercicio" *ngFor="let cosa of cosas">
            <div class="videoWrapper">
                <div class="videoWrapper2">
                    <iframe width="450" height="400" id="video-player"
            [src]="sanitizer.bypassSecurityTrustResourceUrl(cosa.ulrVideo)"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            loading="lazy"></iframe>
                </div>
            </div>
            <div class="nombreEjercicio">
                {{cosa.nombre}}
            </div>
            <div class="subtituloEjercicio">
                {{cosa.tipo}}
            </div>
            <div class="repeticionesEjercicio">
                {{cosa.repeticiones}}
            </div>
            <div class="imagenMusculos" style="background-image: url('{{cosa.urlImagen}}');"></div>
        </div>
        <div class="subirProducto" style="text-align: center;">
            <button class="icon-btn add-btn" style="background-color: rgba(33,37,41,255);" (click)="openModal()">
              <div class="add-icon"></div>
              <div class="btn-txt" style="color: white">Añadir</div>
            </button>
          </div>
       
    </div>
    </div>
