.cuadroEjercicio{
    display: flex;
    justify-content: center;
    align-items: center;
    border: grey solid 2px;
    width: 60vw;
    height: 26vh;
    position: relative;
}

.videoWrapper {
    height: 250px;
    overflow: hidden;
    position: absolute;
    left: 0px;
  }
  .videoWrapper2 {
    height: 250px;
    overflow: hidden;
  }
  iframe {
      margin-top: -73px;
  }
  @font-face {
    font-family: airwaves;
    src: url("./../../assets/airwaves-rounded.ttf");
  }
  .nombreEjercicio{
      font-family: airwaves;
      position: absolute;
      top: 4px;
      font-size: 60px;
      letter-spacing: 5px;
      left: 500px;
      
  }
  .repeticionesEjercicio{
    font-family: airwaves;
    position: absolute;
    top: 135px;
    font-size: 45px;
    letter-spacing: 5px;
    left: 500px;
    
  }
  .imagenMusculos{
      width: 247px;
      height: 247px;
      background-image: url("./../../assets/Deadlift-muscles-worked.jpg");
      background-position: center;
      background-size: cover;
      right: 3px;
      position: absolute;
      cursor: zoom-in;
  }
