<div class="cajaFormulario">
<form [formGroup]="miFormulario" name="miFormulario" >
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre de la actividad: </label>
        <input type="text" id="nombre" name="nombre" class="form-control" formControlName="nombre" required style="border: solid black 1px;">
    </div>
    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripcion de la actividad: </label>
        <input type="text" id="descripcion" name="descripcion" class="form-control" formControlName="descripcion" required style="border: solid black 1px;">
    </div>    
    <!-- <div class="mb-3">
        <label for="idEntrenador" class="form-label">Entrenador: </label>
        <input type="number" id="idEntrenador" name="idEntrenador" class="form-control" formControlName="idEntrenador" required style="border: solid black 1px;">
    </div>    -->
    <div class="mb-3">
        <label for="idEntrenador2" class="form-label">Entrenador: </label>
        <select name="idEntrenador" id="idEntrenador" class="form-control" formControlName = "idEntrenador" style="border: solid black 1px;">
            <option *ngFor="let opcion of infoSelect" [value]="opcion.id">{{opcion.nombre}}</option>
        </select>
    </div> 
    <button class="btn btn-primary" (click)="onSubmit()">Subir Actividad</button>
</form>
</div>