<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 banneriniciosesion">
            <div class="textobanneriniciosesion">
                Comienza aqui tu viaje con nosotros
            </div>
        </div>
        <div class="col-xl-12 divregistro">
            <div class="container">
                <div class="title">Registro</div>
                <div class="content">
                  <form action="#">
                    <div class="user-details">
                      <div class="input-box">
                        <span class="details">Nombre</span>
                        <input type="text" placeholder="Introduce tu nombre" required>
                      </div>
                      <div class="input-box">
                        <span class="details">Primer Apellido</span>
                        <input type="text" placeholder="Introduce tu usuario" required>
                      </div>
                      <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" placeholder="Introduce tu correo" required>
                      </div>
                      <div class="input-box">
                        <span class="details">Numero de telefono</span>
                        <input type="text" placeholder="Introduce tu numero de telefono" required>
                      </div>
                      <div class="input-box">
                        <span class="details">Contraseña</span>
                        <input type="text" placeholder="Introduce tu contraseña" required>
                      </div>
                      <div class="input-box">
                        <span class="details">Confirmar contraseña</span>
                        <input type="text" placeholder="Confirma tu contraseña" required>
                      </div>
                    </div>
                    <div class="gender-details">
                      <input type="radio" name="gender" id="dot-1">
                      <input type="radio" name="gender" id="dot-2">
                      <span class="gender-title">Sexo</span>
                      <div class="category">
                        <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Hombre</span>
                      </label>
                      <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Mujer</span>
                      </label>
                      </div>
                    </div>
                    <div class="button">
                      <input type="submit" value="Registrarte">
                    </div>
                  </form>
                </div>
              </div>
        </div>
    </div>
</div>