<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 banneriniciosesion">
            <div class="textobanneriniciosesion">
                Comienza aqui tu viaje con nosotros
            </div>
        </div>
        <div class="col-xl-12 divregistro">
            <div class="container">
                <div class="title">Registro</div>
                <div class="content">
                  <form [formGroup]="miFormulario" name="miFormulario" >
                    <div class="user-details">
                      <div class="input-box">
                        <span class="details">Nombre de Usuario</span>
                        <input type="text"  class="form-control" id="nombre" name="nombre" formControlName="nombre" placeholder="Introduce tu nombre"  required>
                      </div>
                      
                      <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" class="form-control" name="email" formControlName="email" placeholder="Introduce tu correo" required>
                      </div>
                      <div class="input-box">
                        <span class="details">Numero de telefono</span>
                        <input type="number" class="form-control" name="tlf" formControlName="tlf" placeholder="Introduce tu numero de telefono" required>
                      </div>
                      <div class="input-box">
                        <span class="details">Contraseña</span>
                        <input type="text" class="form-control" name="contrasena" formControlName="contrasena" placeholder="Introduce tu contraseña" required>
                      </div>
                      <div class="input-box">
                        <span class="details">Confirmar contraseña</span>
                        <input type="text" class="form-control" name="secContrasena" formControlName="secContrasena" placeholder="Confirma tu contraseña" required>
                      </div>
                    </div>
                    <div class="gender-details">
                      <input type="radio" name="sexo" value="hombre" formControlName="sexo" id="dot-1" required>
                      <input type="radio" name="sexo" value="mujer" formControlName = "sexo" id="dot-2" required>
                      <span class="gender-title">Sexo</span>
                      <div class="category">
                        <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Hombre</span>
                      </label>
                      <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Mujer</span>
                      </label>
                      </div>
                    </div>
                    <div class="organizadorBoton">
                      <button class="btn-25" (click)="onSubmit()"><span>Registrarse</span></button>
                    </div>
                  </form>
                </div>
              </div>
        </div>
    </div>
</div>